<div>
  <h1> Olá essa é a resposta do pedido</p>
  
  </h1>
    <% for (const contrato of contratos) { %>
      <p>
        <%= contrato.id %><br>
        <% for (const signer of contrato.signers) { %>
          <p> assinado: <%= signer.assinado %> </p>
          
          <% if(signer.event.data.signers[0].key != null) { %>
            <p> signer: <%= signer.event.data.signers[0].key %> </p>
          <% } %>
        <% } %>
      </p>
    <% } %>
    
</div>