<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> <%= nameApp %></h1>
  <!-- <h2> <%= APITest %></h2> -->

  <!-- <p>texto:</p>
  <input id="texto"> 
  <button>criar contrato</button> -->
  <div style="margin: 2rem">
  <form method="post" action="/uploadfile" enctype="multipart/form-data">
    <input type="file" id="file" name="contrato">
    <br>
    <button type="submit" id="enviar">Enviar Arquivo</button>
  </form>
</div>
  <div style="margin: 2rem">
    <form method="post" action="/createdocument">
      <input type="text" id="textocontrato" name="textocontrato">
      <br>
      <button type="submit" id="enviar">Criar Arquivo</button>
    </form>
  </div>
  <!-- <script> -->
    <!-- $('#enviar').click(function(e) { -->
        <!-- e.preventDefault(); -->
        <!-- $('#form-solicitar').submit(); -->
        <!-- $('#submit-form').attr('disabled', true); -->
    <!-- }); -->
<!-- </script> -->
</body>
</html>